.displayCharacters-character {
  position: relative;
  /* display: inline-block; */
  width: 90%;
  border-bottom: 1px dotted rgb(53, 51, 51);
  background-color: #1a212b;
  border: 1.5px solid #474950;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.displayCharacters-character:hover {
  transform: scale(1.1, 1.05); /* Equal to scaleX(2) scaleY(0.5) */
  background-color: #11151c;
}

.displayCharacters-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px 8px 0px 0px;
}

/* Status Banner */
.status-banner-wrapper {
  position: relative;
  float: left;
  width: min-content;
  padding: 0.4rem 0.5rem;
  /* z-index: 1; */
}
.status-banner-alive {
  color: #02ff28;
  font-size: 0.8rem;
  background-color: #14181f;
  opacity: 0.6;
  letter-spacing: 1px;
  position: absolute;
  top: 1rem;
  left: 6.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1;
}

.status-banner-dead {
  color: #fe0245;
  font-size: 0.8rem;
  opacity: 0.8;
  letter-spacing: 1px;
  background-color: #11151c;
  letter-spacing: 1px;
  position: absolute;
  top: 1rem;
  left: 6.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1;
}

.status-banner-unknown {
  color: #dc02fe;
  font-size: 0.8rem;
  opacity: 0.8;
  letter-spacing: 1px;
  background-color: #23262b;
  letter-spacing: 1px;
  position: absolute;
  top: 0.9rem;
  left: 5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1;
}

/* Character names */
.displayCharacters-name_wrapper {
  position: relative;
  display: inline-block;
  margin: .7rem 1rem;
}

.ellipsis-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.3rem;
  transition: all 0.6s ease-in-out;
  color: rgb(195, 189, 189);
}

.displayCharacters-name_wrapper .displayCharacters-name {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

.displayCharacters-name_wrapper:hover .displayCharacters-name {
  visibility: visible;
  color: rgb(240, 238, 238);
  background-color: rgb(53, 53, 53);
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  width: min-content;
  white-space: wrap;
  /* display:flex; 
  flex-direction: flex-start; */
  float: left;
  /* z-index: 999; */
}

.displayCharacters-species {
  font-size: 0.9rem;
  color: #a08d2a;
  font-weight: bold;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: -.1rem 0.15rem;
  padding: 0.1rem 0.6rem;
}

/* Type */

.displayCharacters-type {
  font-size: 0.7em;
  color: #76d7d1;
  letter-spacing: 0.08rem;
  font-size: bold;
  display: flex;
  justify-content: flex-start;
  flex-direction: flex-start;
  margin: 0.2rem 0.3rem;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0.1rem 0.5rem;
}

.showmore-showless {
  color: rgb(195, 189, 189);
  display: flex;

  justify-content: column;
  flex-direction: flex-end;
  align-items: column;
  margin: 0 auto;
}

/*  Status  */
.displayCharacters-status {
  width: 85%;
  content: '';
  display: block;
  margin: 0 auto;
  border-top: #a1a4a5 1px solid;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  margin: 0.2rem 0.6rem;
  padding: 0.3rem 0.2rem;
}

/* Location */
.character-location {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.1rem 0.6rem;
  padding: 0.1rem 0.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.character-location-icon {
  color: rgb(222, 218, 221);
  font-size: 0.7rem;
  margin: 0rem -.1rem;
}

.character-location-details {
  font-size: 0.58rem;
  color: rgb(205, 198, 205);
  margin: 0 0.4rem;
  display: flex;
  flex-direction: flex-start;
  font-weight: bold;
  letter-spacing: 0.1px;
  width: 100%;
  letter-spacing: 0.5px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  transition: all 0.6s ease-in-out;
  animation: fadeIn 2s ease-in-out;
  cursor: pointer;
}

.character-location-details:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Button */

.character-button-wrapper {
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  margin: 0.9rem 0.5rem;
  position: relative;
  box-shadow: 0px 3px 0px #5faba0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.character-button-wrapper:hover {
  background-color: #81e6d9;
  box-shadow: 0px 4px 0px #5faba0;
}

.character-button-wrapper:active {
  box-shadow: none;
  background-color: #58a298;
  box-shadow: 0px 2px 0px #000000;
  top: 2px;
}

.character-button {
  color: rgb(52, 52, 52);
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

/* Arrow */

