

.footer {
  /* display;  */
  width: 100%; 
  margin: 0 auto; 
  text-align: center;
  color: rgb(206, 206, 204); 
  margin-bottom: 1.5rem;
}

.footer span a {
  color: rgb(242, 234, 223);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.footer span a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
} 

.footer span a:active {
  color: rgb(130, 126, 126);
  border-bottom: 1px solid rgb(237, 17, 17); 
}

